/*
    Author: Ngoc Tram
    Date: 02/04/2018
    Purpose: Styling the timer page
*/

body {
    background-color:blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time-container {
    margin:auto;
    margin-top: 15%;
    text-align: center;
    width: 500px;
    height: 250px;
    border: 1px solid black;
    padding: 1px;
    border-radius: 15px;
    background-color: lightskyblue;
}

p {
    font-size: 25px;
    font-family: 'Maven Pro', sans-serif;
}

#start {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin: 10px;
}

#start:hover,
#start:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#start:hover {
  transform: translateY(-1px);
}

#start:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#time {
    font-size: 60px;
    font-weight: bold;
    font-family: 'REM', sans-serif;
}